<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <!-- Déclaration de l'éditeur de fichiers .http -->
   <extension point="org.eclipse.ui.editors">
      <editor
         id="rest.http.plugin.editors.HttpFileEditor"
         name="HTTP Request Editor"
         icon="icons/http.png"
         extensions="http"
         class="rest.http.plugin.editors.HttpFileEditor">
      </editor>
   </extension>

    <!-- Déclaration de la commande pour exécuter la requête HTTP -->
   <!-- Ajout de la commande au menu contextuel de l'éditeur -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any">
         <command
            commandId="rest.http.plugin.commands.executeRequest"
            label="Exécuter la requête HTTP"
            style="push">
         </command>
      </menuContribution>
   </extension>
   <!-- annotation -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="rest.http.plugin.Execute"
            name="rest.http.plugin.ExecuteAnnotation"
            >
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            icon="icons/play.png"
            annotationType="rest.http.plugin.ExecuteAnnotation"
            colorPreferenceKey="rest.http.plugin.Execute.color"
            colorPreferenceValue="255,192,38"
            contributesToHeader="true"
            highlightPreferenceKey="rest.http.plugin.Execute.highlight"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToPreviousNavigationTarget="true"
            label="Execute http"
            overviewRulerPreferenceKey="rest.http.plugin.Execute.overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="5"
            textPreferenceKey="rest.http.plugin.Execute.text"
            textPreferenceValue="true"
            textStylePreferenceKey="rest.http.plugin.Execute.textStyle"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceKey="rest.http.plugin.Execute.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   
  <!-- / annotation -->
  <extension point="org.eclipse.ui.menus">
   <menuContribution locationURI="popup:#httpRulerContext">
      <command
         commandId="rest.http.plugin.commands.executeRequest"
         label="Exécuter requête depuis la gouttière"
         style="push">
      </command>
   </menuContribution>
  </extension>

  <extension point="org.eclipse.ui.views">
     <view
        id="rest.http.plugin.views.HttpResultView"
        name="Résultat HTTP"
        class="rest.http.plugin.views.HttpResultView"
        category="rest.http.plugin"/>
  </extension>
  
  <!-- Extension pour les preférences -->
  <extension point="org.eclipse.ui.preferencePages">
   <page
         id="rest.http.plugin.preferences"
         name="Éditeur HTTP"
         class="rest.http.plugin.HttpPreferencePage" />
  </extension>


</plugin>
